.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-table-1 {
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-block-267d-35 {
  background-image: none;
}

.u-section-1 .u-text-1 {
  margin: 83px auto 0 471px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 23px auto 60px 482px;
  padding: 10px 62px 11px 60px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -29px;
    margin-left: 389px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 298px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 224px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 141px;
  }
}