@page "/Contact"
@using Microsoft.AspNetCore.Components.Web
@namespace shop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Wojciech Paluszkiewicz">
    <meta name="description" content="">
    <title>Contact</title>
    <link rel="stylesheet" href="shop/nicepage.css" media="screen">
    <link rel="stylesheet" href="shop/Contact.css" media="screen">
    <script class="u-script" type="text/javascript" src="shop/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="shop/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.18.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



    <script type="application/ld+json">
        {
                "name": "",
                "logo": "images/g621aff9617574cd4957af232323b97622ba241c0a32df712a7e7246f5a8a2d347cf4b55e0cb3f33a2d165a0dd413cd9e_1280.jpg"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="pl">
    <header class="u-clearfix u-header u-header" id="sec-55b6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="_Host.cshtml" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="853">
                <img src="shop/images/g621aff9617574cd4957af232323b97622ba241c0a32df712a7e7246f5a8a2d347cf4b55e0cb3f33a2d165a0dd413cd9e_1280.jpg" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Main" style="padding: 10px 20px;">Main</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Summary" style="padding: 10px 20px;">Summary</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="About-us" style="padding: 10px 20px;">About us</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Contact" style="padding: 10px 20px;">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Main">Main</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Summary">Summary</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="About-us">About us</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-66d6">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                            <div class="u-container-layout u-container-layout-1">
                                <span class="u-icon u-icon-circle u-palette-1-base u-icon-1">
                                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52.966 52.966" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bae1"></use></svg>
                                    <svg class="u-svg-content" viewBox="0 0 52.966 52.966" x="0px" y="0px" id="svg-bae1" style="enable-background:new 0 0 52.966 52.966;">
                                        <circle style="fill:#57ABC1;" cx="21.983" cy="21" r="20"></circle>
                                        <line style="fill:none;stroke:#556080;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" x1="35.437" y1="35.798" x2="50.983" y2="51.966"></line>
                                        <path style="fill:#7CCBD8;" d="M3.002,27.253c0.848,2.582,2.24,5.018,4.167,7.146L35.382,6.186
	c-2.129-1.928-4.564-3.319-7.146-4.167L3.002,27.253z"></path>
                                        <path style="fill:#556080;" d="M21.983,42c-11.58,0-21-9.42-21-21s9.42-21,21-21s21,9.42,21,21S33.562,42,21.983,42z M21.983,2
	c-10.477,0-19,8.523-19,19s8.523,19,19,19s19-8.523,19-19S32.459,2,21.983,2z"></path>
                                    </svg>


                                </span>
                                <h2 class="u-text u-text-default u-text-1">Wojciech Paluszkiewicz</h2>
                                <p class="u-text u-text-2">This small shop is made with C#. Find me on my github.</p>
                                <a href="https://github.com/Wojciech00Pal" class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1"> https://github.com/Wojciech00Pal</a>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="5760" data-image-height="3840">
                            <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-50b8">
        <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-eb85">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Wojciech Paluszkiewicz - project</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
            <span>Website Templates</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="" target="_blank">
            <span>Website Builder Software</span>
        </a>.
    </section>

</body>
</html>