@inject IAddProductUseCase AddProductUseCase
@inject ILoadProductsUseCase loadProductsUseCase
@inject IUpdateProductUseCase UpdateProductUseCase

<div class="u-size-30">
    <div class="u-layout-row">
        <div @onclick="()=>AddProduct(1)" class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-contain u-image-default u-image-1" src="shop/images/bbf23fa4c8be2ae6e8b693e439e945b91d5a0b90ea96efeadfe08fab63e94565be419935b4ed56d4ad69d8c4c767eaf26c6249016864afd1365a1a_1280.jpg" alt="" data-image-width="1280" data-image-height="720">
                <a   
                    class="u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-1">
                    <span class="u-icon u-text-palette-1-base u-icon-1">
                        <svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                          <circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path><circle cx="394.667" cy="437.333" r="53.333"></circle>
                            </svg><img></span>
                </a>
            </div>
        </div>
        <div @onclick="()=>AddProduct(2)"  class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-top u-container-layout-2">
                <img class="u-align-center u-image u-image-default u-image-2" src="shop/images/40db60186a96b6ebd0e3f2143ef28f10b396cd13ecac2bd00c06342478ea1bf6006199102e38716ce36005c151932743a3da604bc1fff5bead4063_1280.jpg" alt="" data-image-width="1280" data-image-height="857">
                <a href="" class="u-align-center u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-2">
                    <span class="u-icon u-text-palette-1-base u-icon-2"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path>
                    <circle cx="394.667" cy="437.333" r="53.333"></circle></svg><img></span>
                </a>
              
            </div>
        </div>
    </div>
</div>
<div class="u-size-30">
    <div class="u-layout-row">
        <div @onclick="()=>AddProduct(3)" class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
            <div class="u-container-layout u-container-layout-3">
                <img class="u-image u-image-default u-image-3" src="shop/images/3461edd8f98a29a52c2d13940b8da1867a72f091ffca3de820e0b1e3f991e0d1b665aeecb0a5a090cb2f2a6a296121ca132523bf7d3a806a8080a7_1280.jpg" alt="" data-image-width="1280" data-image-height="853">
                <a href="" class="u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-3">
                    <span class="u-icon u-text-palette-1-base u-icon-3"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path><circle cx="394.667" cy="437.333" r="53.333"></circle></svg><img></span>
                </a>
            </div>
        </div>
        <div @onclick="()=>AddProduct(4)" class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
            <div class="u-container-layout u-container-layout-4">
                <img class="u-align-center u-image u-image-default u-image-4" src="shop/images/88208b08493ef70cfca4cac34583373f0ece4cf742e0a9bcaf74d1bdae63557b238bd897133f9c3643ae9d82a4ab5dac6455b7d3fb88610b1321cf_1280.jpg" alt="" data-image-width="1280" data-image-height="851">
                <a href="" class="u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-4">
                    <span class="u-icon u-text-palette-1-base u-icon-4"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path><circle cx="394.667" cy="437.333" r="53.333"></circle></svg><img></span>
                </a>
            </div>
        </div>
    </div>
</div>
@*<div class="u-expanded-width u-table u-table-responsive u-table-1">

            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead class="u-palette-4-base u-table-header u-table-header-1">
                    <tr style="height: 29px;">
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Product name</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Price</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Amount</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Sum</th>

                    </tr>
                </thead>
        @if (listProducts != null)
        {

                        <tbody class="u-table-body">
                @foreach (Products prod in listProducts)
                {
                                <tr style="height: 48px;">
                                    <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5">
                            @prod.ProductName
                                    </td>
                                    <td class="u-border-1 u-border-grey-30 u-table-cell">
                            @prod.Price
                                    </td>

                                    <td class="u-border-1 u-border-grey-30 u-table-cell">
                                        <input type="number"
                                  @bind-value="prod.Quantity" 
                                />
                                    </td>
                                    <td class="u-border-1 u-border-grey-30 u-table-cell">

                                            <button class="btn btn-primary" @onclick="(async()=>await UpdateProd(prod))">
                                            Update</button>

                                    </td>
                                </tr>


                                <button @onclick="()=>Delete()">X</button>

                }
                        </tbody>
        }
            </table>
        </div>
        *@
@code {

    private int qty;


    
    private async Task AddProduct(int id)
    {
       await AddProductUseCase.ExecuteAsync(id, 1);
    }



    ///
    public List<Products>? listProducts;

    //private double price{ get; set; }


    public async Task UpdateProd(Products prod)
    {
        //przeliczanie amount i update database
        prod.Sum = prod.Quantity * prod.Price;
        await UpdateProductUseCase.ExecuteAsync(prod);

    }

    
    private async Task LoadProducts()
    {
        var list = await loadProductsUseCase.ExecuteAsync();
        this.listProducts = list.ToList();
    }

}
