@page "/Summary"
@using Microsoft.AspNetCore.Components.Web
@namespace shop.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="shop.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Summary</title>
    <link rel="stylesheet" href="shop/nicepage.css" media="screen">
    <link rel="stylesheet" href="shop/Summary.css" media="screen">

    <meta name="generator" content="Nicepage 4.18.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Summary">
    <meta property="og:type" content="website">

</head>

     <body class="u-body u-xl-mode" data-lang="pl">
         <header class="u-clearfix u-header u-header" id="sec-55b6">

    <script type="application/ld+json">
        {
                "name": "",
                "logo": "images/g621aff9617574cd4957af232323b97622ba241c0a32df712a7e7246f5a8a2d347cf4b55e0cb3f33a2d165a0dd413cd9e_1280.jpg"
        }</script>

    <script class="u-script" type="text/javascript" src="shop/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="shop/nicepage.js" defer=""></script>
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="853">
                <img src="shop/images/g621aff9617574cd4957af232323b97622ba241c0a32df712a7e7246f5a8a2d347cf4b55e0cb3f33a2d165a0dd413cd9e_1280.jpg" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                    <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="main" style="padding: 10px 20px;">Main</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Summary" style="padding: 10px 20px;">Summary</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="About-us.html" style="padding: 10px 20px;">About us</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Contact.html" style="padding: 10px 20px;">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Main.html">Main</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Summary.html">Summary</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="About-us.html">About us</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-ccd4">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead class="u-palette-4-base u-table-header u-table-header-1">
                        <tr style="height: 29px;">
                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Product name</th>
                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Price</th>
                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Amount</th>
                            <th class="u-border-1 u-border-palette-4-base u-table-cell">Sum</th>
                        </tr>
                    </thead>
                    <tbody class="u-table-body">
                        <tr style="height: 48px;">
                            <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5"></td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                            <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h6 class="u-text u-text-default u-text-1">
                Price:<span style="font-size: 1.875rem;"></span>
            </h6>
            <a href="https://nicepage.com/c/about-us-html-templates" class="u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-1">
                <span class="u-icon u-text-palette-1-base u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path><circle cx="394.667" cy="437.333" r="53.333"></circle></svg><img></span>
            </a>
        </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-eb85">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Wojciech Paluszkiewicz - project</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">

    </section>

</body>
</html>

